/* Root layout styles */
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden; /* Prevent content overflow */
}

/* Heading default styling */
.heading {
  font-family: var(--font-sabon);
  font-weight: 800;
  margin: 5%;
  font-size: 4rem; 
  line-height: 1;
  white-space: normal; 
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

/* Copy text default styling */
.copyText {
  font-family: var(--font-futura);
  font-weight: 500;
  font-style: medium; 
  font-size: 1.2rem;
  padding-inline: 5%;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap; 
  text-align: center;
}

/* Middle content area */
.middleContent {
  flex: 1; /* Allow middle content to grow/shrink */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%; /* Prevent content from growing too tall */
}

/* Footer for buttons */
.footer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between buttons */
  width: 100%;
  max-width: 250px;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

/* Responsive styles */
@media (max-width: 768px) {
  .layout {
    padding: 3%;
  }

  .heading {
    font-size: 4rem; 
    margin: 3%;
  }

  .copyText {
    font-size: 1rem; 
  }

  .middleContent {
    max-height: 60%; /* Restrict middle content height */
  }

  .footer {
    margin-bottom: 10px;
    gap: 8px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .layout {
    padding: 2%;
  }

  .heading {
    font-size: 3.3rem; /* Smaller font for mobile */
  }

  .copyText {
    font-size: 0.9rem; /* Smaller text size for mobile */
  }

  .middleContent {
    max-height: 60%; /* Further restrict middle content height for smaller screens */
  }

  .footer {
    margin-bottom: 10px;
    gap: 5px;
    max-width: 220px;
  }
}

/*SE*/

@media (max-width: 380px) {
  .layout {
    padding: 2%;
  }

  .heading {
    font-size: 3rem; 
  }

  .copyText {
    font-size: 0.8rem;
  }

  .middleContent {
    max-height: 60%; 
  }

  .footer {
    margin-bottom: 10px;
    gap: 5px;
    max-width: 220px;
  }
}
