/* Root container styling */

.html, .body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for body and html */
  width: 100%; 
  overflow: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100%; /* Exact viewport height, no vertical scroll */
  width: auto; /* Exact viewport width, no horizontal scroll */
  overflow: hidden; /* Prevent both vertical and horizontal scroll */
  background-color: #a89fbe;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px; /* Add some padding for spacing */
  width: 100%; /* Take full width of the page */
  background: transparent; /* Transparent background if needed */
  box-sizing: border-box;
}


.content {
  display: flex;
  flex: 1;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
  max-width: 100%; 
  height: 100%; 
}


.textContainer {
  display: flex;
  flex-direction: column; /* Stack the title and copy text vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  padding: 5%; /* Add some padding around the container */
  padding-bottom: 15%;
  gap: 20px; /* Space between the title and the copy text */
  text-align: center; /* Center-align text content */
  width: 100%; /* Full width */
  height: 100%; /* Ensure it fills the available space */
}



.heading {
  font-family: var(--font-sabon);
  font-weight: 800;
  font-size: 4rem; 
  color: #c1363c;
  white-space: normal; 
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis; 
}

.imageWrapper {
  position: relative; /* Required for Image fill */
  width:100%; 
  max-width: 500px; 
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
}

.headingContainer {
  width: 100%; 
  display: flex;
  justify-content: center; /* Center align image horizontally */
  align-items: center;
  margin-bottom: 20px; 
}

.headingImage {
  object-fit: contain;
}

.copyText {
  font-family:var(--font-futura);
  font-weight: 500;
  font-style: medium; 
  font-size: 1.2rem;
  line-height: 1.5;
  padding-inline: 5%;
  color: #f3df6e;
  text-overflow: ellipsis;
  white-space: wrap; 
  text-align: center;
}

.buttonContainer {
  margin-bottom: 30px;
}



/* Media Queries for Responsive Design */


@media (max-width: 480px) {
  .buttonContainer {
    margin-bottom: 10px;
    gap: 5px;
    max-width: 220px;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 50px;
  }

  .logo {
    max-width: 250px;
  }

  .heading {
    font-size: 4rem;
  }

  .copyText {
    font-size: 1.5rem;
  }
}
