.html, .body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #a89fbe;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px; 
  width: 100%; 
  background: transparent; 
  box-sizing: border-box;
}


/* Main content area */
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  text-align: center;
}

.textContainerWrapper {
  display: flex;
  flex: 1; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

/* Text container (shared for both screens) */
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.headingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
}

.headingImage {
  object-fit: contain;
}

/* Password input styling */
.passwordInput {
  width: 100%;
  max-width: 300px;
  font-family: var(--font-futura);
  padding: 0.75rem;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  color: #b5b5b5;
  text-align: left;
  font-size: 1rem;
}

.passwordInput::placeholder {
  color: #b5b5b5;
}

.copyText {
  font-family: var(--font-futura);
  font-size: 1.2rem;
  line-height: 1.5;
  color: #f3df6e;
  text-align: center;
  padding-inline: 6%;
}

.errorText {
  color: #ff6f6f;
  font-family: var(--font-futura);
  font-size: 0.9rem;
}


.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: auto; /* Pushes button to bottom of flex container */
}

@media (max-width: 480px) {
  .buttonContainer {
    padding: 20px 0;
  }

  .passwordInput {
    max-width: 80%;
  }

  .copyText {
    font-size: 0.9rem;
    padding-inline: 15%;
  }
}
