/* Root container styling */

.html, .body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for body and html */
  width: 100%; 
  overflow: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100%; /* Exact viewport height, no vertical scroll */
  width: auto; /* Exact viewport width, no horizontal scroll */
  overflow: hidden; /* Prevent both vertical and horizontal scroll */
  background-color: #a89fbe;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px; /* Add some padding for spacing */
  width: 100%; /* Take full width of the page */
  background: transparent; /* Transparent background if needed */
  box-sizing: border-box;
}

.logo {
  max-width: 20%; /* Dynamic width for responsiveness */
  height: auto;
  min-width: 100px; /* Ensure a minimum size for very small screens */
}
/* Content section */
.content {
  display: flex;
  flex: 1;
  padding: 5%;
  padding-top: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
  max-width: 100%; 
  height: 100%; /* Ensure content fits within the screen */
}


.textContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}


.heading {
  font-family: var(--font-sabon);
  font-weight: 800;
  font-size: 3.5rem; /* Responsive font size */
  color: #c1363c;
  white-space: normal; 
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.copyText {
  font-family:var(--font-futura);
  font-weight: 500;
  font-style: medium; 
  font-size: 1rem;
  line-height: 1.5;
  color: #f3df6e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap; 
  text-align: center;
}

/* Button container */
.buttonContainer {
  margin-top: 20px;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .logo {
    max-width: 200px;
  }

  .heading {
    font-size: 3rem;
    text-overflow: unset;
  }

  .copyText {
    font-size: 1.25rem;
    text-overflow: unset;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 50px;
  }

  .logo {
    max-width: 250px;
  }

  .heading {
    font-size: 4rem;
  }

  .copyText {
    font-size: 1.5rem;
  }
}
