.resultPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #DADAB2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  width: 100%;
  background: transparent;
  box-sizing: border-box;
}

.imageWrapper {
  position: relative;
  width: 250px; /* Adjusted width */
  height: 350px; /* Adjusted height */
}

.generatedImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.customButton {
  background-color: #DE75A5;
  color: #FFE163;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem; /* Responsive font size */
  padding: 10px 50px; /* Adjust padding for smaller buttons */
  border: none;
  border-radius: 24px;
  cursor: pointer;
  text-align: center;
  line-break: strict;
  
}

.customButton:hover {
  background-color: #C9608D;
}

@media (min-width: 768px) {
  .customButton {
    font-size: 1.25rem;
    padding: 10px 70px;
  }
}

